.hero-text-box {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/img/poke_mainbg_.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  background-attachment: fixed;

  &__image {
    width: 100%;
    height: auto;
    visibility: hidden;
  }

  &__text-content {
    width: 100%;
    text-align: center;
    color: #FFF;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  &__title {
    font-size: 2rem;
    letter-spacing: 10px;
    font-weight: 400;
    word-spacing: 11px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

}
